caption{
    text-align: center;
}
table,th,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2%;
}
img{
    height: 100px;
    width: 200px;
}
table{
    width: 40%;

}
h1{
    text-align: center;
    text-decoration: underline;
    
}
p{
    padding: 2%;
    text-indent: 2%;
}