h1{
    background-color: gray;
    color: red;
    text-align: center;
    text-shadow: 5px 3px green;
    border: 3px solid blue;

}
p{
    color: blue;
    font-size: 25px;
    text-align: justify;
    letter-spacing: 3px;
    word-spacing: 6px;
    border-top: red;border-top-style: dashed;
    border-right: green;border-right-style: double;
    border-left: solid orange;
    border-bottom: cyan;
    border-bottom-style: dotted;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKr0Kj1XrEzBJQk-6RuK8pTrltgS3w3MXDNQ&usqp=CAU') ;
background-attachment: fixed;
background-repeat: no-repeat;
}